.p-login
{
        
    color:white;
    background-color: #1b166e;
    height: 100vh;
}
.p-login ::placeholder 
 { /* Most modern browsers support this now. */
    color:    white;
 }

 .p-login .f-login
{
    color:white;
    background-color: #1b166e;
    border-radius: 50px;
    height:50px;
    font-size:25px;
    line-height: 25px;
    text-align: center;
}
.p-login .f-login:focus
{
    color:white;
    background-color: #1b166e;
}
.p-login .login-logo
{
    display: block;
    margin: auto;
    padding-top:38px;
}
.p-login .button-login
{
    color:#1b166e;
    background-color: white;
    border-radius:50px;
    width:312.2px;
    height: 50px;
    font-size:30px;
    line-height: 11px;
    border:1px;
    margin-bottom:22px;
   
}
.p-login .Login-button-wrapper
{
    margin-top: 16vh;
    display: flex;
    justify-content: center;
}
.p-login .login-Fields-wrapper
{
  margin-top: 16.2vh;
}
.p-login .login-overall-wrapper
{
    position: relative;
}



