
.c-syllabus .card{
    border: none;
}
.c-syllabus .card-header{
    background-color: white;
}
.c-syllabus .card-header .btn{
    color: #5d5d5d;
    font-family: Assistant-SemiBold;
    font-size: 14px;
}

.c-syllabus .card-body {
    margin-right:40px; 
    font-family: Assistant-Regular;
    font-size: 13px;
}