.login-err
{
  width:100%;
  color:#ffa1a1;
  background-color: white;
  padding-top:40px;
  display: flex;
  height:100px;
}
.login_error_message
{
    font-size:20px;
    line-height: 18px;
}

.login-error-close-button
{
    background-color: white;
    color:#5d5d5d;
    border:none;
}
.login-error-close-button:hover
{
    cursor: pointer;
}