.c-navbar  .hamburger > div{
    width: 25px;
    height: 4px;
    background-color:#5d5d5d;
    margin-bottom: 3px ;
}

.c-navbar .haedline .hamburger {

}

.c-navbar .haedlineRow .row{
	margin:0;
	display: flex;
	justify-content: center;
  }

.c-navbar .haedlineRow .col{
  padding:0;
}


.c-navbar .haedlineRow .hamburger{
	margin-top: 17px;
	margin-right: 15px; 
	max-width: 30%;
}
.c-navbar .haedlineRow .haedline{
	margin-top: 14px;
}
.c-navbar .haedlineRow .haedline p{
	font-size: 15px;
	color: #5d5d5d;
}

.c-navbar .sidebar-wrap {
	right: 0;
	position: fixed;
	top: 0px;
	bottom: 0px;
	z-index: 1000;
	height: 100%;
	transition: width 0.5s ease;
	-moz-transition: width 0.5s ease;
	-ms-transition: width 0.5s ease;
	-webkit-transition: width 0.5s ease;
	-o-transition: width 0.5s ease;
	width: 0;
	overflow: hidden;
}

.c-navbar .sidebar-open .sidebar-wrap {
	width: 83%;
}
.c-navbar .sidebar-background {
	background-color: rgba(0,0,0,0.4);
	width: 0;
	height: 0;
	right: 0;
	top: 0;
	position: fixed;
	z-index: 999;
	opacity: 0;
	
	transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
}
.c-navbar .sidebar-open .sidebar-background
{
	opacity: 1;
	width: 100%;
	height: 100%;
}
.c-navbar .sidebar {
	background-color: #FAFAFA;
	height: 100%;
	width: 100%;
}
.c-navbar .sidebar-header {
    height: 22vh;
    width: 100%;
    background-color:#1b166e;

	/* text-align:  center; */
	/* padding: 5%; */
	box-sizing:  border-box;
	position:  relative;
}

.c-navbar .sidebar-header-x,.sidebar-header-logo  {
    width: 100%;
    margin:0;
}
.c-navbar .sidebar-header span  {
    margin-right: 85%;
    color:white;
    font-size:36px;
}
.c-navbar .sidebar-header img  {
margin-bottom: 15%;
}
.c-navbar .sidebar-header img  {
    height: 50%;
    width: 70%;
}
.c-navbar .appleseeds-logo {
	width: 85%;
	/* position: absolute; */
	left: 0;
	right: 0;
	top: 0;
	bottom:  0;
	margin: auto;
}
.c-navbar .profile-preview,.users-tab,.courses-tab,.hoursReport-tab,.hoursAprove-tab,.logout-tab {
    max-height: 10.9%;
    width: 100%;
    margin: 0;
	/* padding: 1vh; */
	/* border-bottom: 1px solid #ccc; */
}

.c-navbar .profile-preview{
    border-bottom: solid rgb(190, 182, 182) 1px;
    height: 10vh;
}



/*add all right colums here */
.c-navbar .profile-image,.users-tab-image,.courses-tab-image,.hoursReport-tab-image,.hoursAprove-tab-image,.logout-tab-image {
    max-width: 13.2%;
    margin-right: 4.6% ;
    padding: 0;
    /* max-height: 10.9%; */
}
/*add all left colums here */
.c-navbar .name-wrap,.users-tab-users, .courses-tab-courses,.hoursReport-tab-hoursReport,.hoursAprove-tab-hoursAprove,.logout-tab-logout {
    padding: 0;
    margin-right: 3%;
  
    /* max-height: 10.9%; */
}
.c-navbar .name-wrap,.courses-tab-courses{
    display:flex;
    align-items: stretch;
}


.c-navbar .profile-image img{

    /* margin: 24px 16.6px 10.1px 0 ; */
    display: inline-block;
    vertical-align: middle;
    /* border-radius: 50%;
    border: 4px solid #DBE9F9; */
    background-position: center;
	transform: Scale(0, 0);
	-moz-transform: Scale(0, 0);
	-ms-transform: Scale(0, 0);
	-webkit-transform: Scale(0, 0);
	-o-transform: Scale(0, 0);
	transition: transform 0.5s ease;
	-moz-transition: -moz-transform 0.5s ease;
	-ms-transition: -ms-transform 0.5s ease;
	-webkit-transition: -webkit-transform 0.5s ease;
	-o-transition: -o-transform 0.5s ease;
	position:relative;
	z-index: 2;
}
.c-navbar .sidebar-open .profile-image img{
    width: 5.8vh;
    object-fit:cover;
    overflow:  auto;
    margin: 35% 0 5% 0;
    transform: Scale(1, 1);
	-moz-transform: Scale(1, 1);
	-ms-transform: Scale(1, 1);
	-webkit-transform: Scale(1, 1);
    -o-transform: Scale(1, 1);
   
}


.c-navbar .sidebar-open .user-name{
    font-size:6.5vw;
    text-align: right;
    margin: 5% 0 5% 0 ;
}
.c-navbar .sidebar-options .menu-information{
	transform: translateX(40vw);
	/* height: 6vh; */
	font-weight: bold;
	color: #2E598B;
	/* padding-right: 2vh; */
	/* padding-top: 4vh; */
	transition: transform 0.5s ease;
	-moz-transition: -moz-transform 0.5s ease;
	-ms-transition: -ms-transform 0.5s ease;
	-webkit-transition: -webkit-transform 0.5s ease;
	-o-transition: -o-transform 0.5s ease;
}
.c-navbar .sidebar-options .menu-information:nth-child(2){
	transition-delay: 0.075s;
	-moz-transition-delay: 0.075s;
	-ms-transition-delay: 0.075s;
	-webkit-transition-delay: 0.075s;
	-o-transition-delay: 0.075s;
}
.c-navbar .sidebar-options .menu-information:nth-child(3){
	transition-delay: 0.15s;
	-moz-transition-delay: 0.15s;
	-ms-transition-delay: 0.15s;
	-webkit-transition-delay: 0.15s;
	-o-transition-delay: 0.15s;
}
.c-navbar .sidebar-options .menu-information:nth-child(4){
	transition-delay: 0.225s;
	-moz-transition-delay: 0.225s;
	-ms-transition-delay: 0.225s;
	-webkit-transition-delay: 0.225s;
	-o-transition-delay: 0.225s;
}
.c-navbar .sidebar-options .menu-information:nth-child(5){
	transition-delay: 0.3s;
	-moz-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
}
.c-navbar .sidebar-open .sidebar-options .menu-information{
	transform: translateX(0);
}
.c-navbar .name-wrap{
    /* display: inline-block; */
	opacity:0;
	transform: Scale(0, 0);
	-moz-transform: Scale(0, 0);
	-ms-transform: Scale(0, 0);
	-webkit-transform: Scale(0, 0);
	-o-transform: Scale(0, 0);
	transform-origin: 100% 50%;
	transition: margin 0.5s ease-out, opacity 0.5s ease, transform 0.5s ease;
	-moz-transition: margin 0.5s ease-out, opacity 0.5s ease, -moz-transform 0.5s ease;
	-ms-transition: margin 0.5s ease-out, opacity 0.5s ease, -ms-transform 0.5s ease;
	-webkit-transition: margin 0.5s ease-out, opacity 0.5s ease, -webkit-transform 0.5s ease;
	-o-transition: margin 0.5s ease-out, opacity 0.5s ease, -o-transform 0.5s ease;
	position:relative;
	z-index: 1;
}
.c-navbar .sidebar-open .name-wrap{
	opacity: 1;
	/* margin-right: 1vw; */
	transform: Scale(1, 1);
	-moz-transform: Scale(1, 1);
	-ms-transform: Scale(1, 1);
	-webkit-transform: Scale(1, 1);
	-o-transform: Scale(1, 1);
}


.c-navbar .menu-information{
    max-height: 8%;
    width: 100%;
    margin: 0;
    padding: 0;
	/* padding: 1vh; */
	/* border-bottom: 1px solid #ccc; */
}

.c-navbar .menu-information .users-tab,.courses-tab,.hoursReport-tab,.hoursAprove-tab,.logout-tab {
    border-top: solid rgb(196, 192, 192) 1px;
}

.c-navbar .menu-information  img{
    margin:29% 14% 23% 0;
    width: 2.5vh;
    object-fit: cover;
}
.c-navbar .menu-information .users-tab-image img{
    margin:29% 0% 23% 0;
    width: 4.5vh;
}


.c-navbar .menu-information a{
    margin: 3% 0 5% 0;
    color: #15457d;
    font-size: 4.5vw;
  
}

/* userstab open-close*/

.c-navbar .users-tab-users .row {
width: 100%;
display: flex;
align-items: center;
justify-content: space-between ;
margin: 0
}

.c-navbar .users-tab-users img{
    width: 100%;
   margin:3% 0 3% 8%;
   width: 2.5vh;
   object-fit: cover;
}

.c-navbar .users-tab-users .usersTab-closed{
    display: none;

}

.c-navbar .users-tab-users .usersTab-open{
    display: block;

}

