.p-courses{
    position: relative;
    font-size: 0.75rem;
    font-family: Assistant-Regular;
}

.p-courses .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
    background-color: white;
  }

.p-courses .search {
    margin: 1.75rem 0.75rem;
}

.p-courses .content {
    padding-bottom: 76px;
}

.p-courses .spinner {
    width: 3rem;
    height: 3rem;
    margin-top: 200px;
}